.bg-yellow {
  background: #fab338;
  color: white;
}

.bg-darkyellow{
  background: #E0A031;
}

#nav-title {
  letter-spacing: 3px;
}

.text-dark {
  color: black !important;
}

.text-dark a {
  color: black !important;
}

.nav-item:hover a {
  color: white !important;
}

.text-gray {
  /*color: #262625 !important;*/
  color: #212120 !important;
}

.font-weight-regular {
  font-weight: 350 !important;
}

li:hover {
  box-shadow: 0 0 2px 1px #666;
  background: #805B1C;
}

.to-btn-blue:hover {
  /* background-color: #007bff; */
  /* border-color:#007bff; */
  /* color: white */
  color: white !important;
  box-shadow:0 0 2px 1px #666;
  background: #805B1C;
}

.btn-no-radius {
  border-radius: 0px !important;
}

.home {
  background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.5)),url('img/vegies.jpg');
  width: 100%;
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link {
  font-weight: 500 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

#volunteer_form input,
#btn_submit {
  border-radius: 0 !important;
}

/* login */

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

.login .form-control {
  height: calc(3rem + 2px); 
}

.login{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.login .form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* login */

@media (max-width: 576px) { 
  .home {
    height: 800px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 576px) { 
  .home {
    height: 600px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  .home {
    height: 600px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  .home {
    height: 760px;
  }
}